[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
validate-email = "*"
six = "*"
django-heroku = "*"
gunicorn = "*"
waitress = "*"

[dev-packages]

[requires]
python_version = "3.12"
