body {
  font-size: 1rem;
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
}

.feather {
  width: 18px;
  height: 18px;
  vertical-align: text-bottom;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  background-color: #343a40;
  color: white;
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #ddd;
  transition: all 0.3s;
}

.sidebar .nav-link:hover {
  background-color: #495057;
  color: #fff;
  border-radius: 5px;
  padding-left: 10px;
}

.sidebar .nav-link .feather {
  margin-right: 8px;
  color: #ccc;
}

.sidebar .nav-link.active {
  color: #17a2b8;
  background-color: rgba(23, 162, 184, 0.2);
  border-radius: 5px;
}

.sidebar-heading {
  font-size: 0.85rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 15px;
  color: #adb5bd;
}

/* Content */
[role="main"] {
  padding-top: 133px;
  transition: all 0.3s;
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 50px;
  }
}

/* Navbar */
.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1.2rem;
  background-color: #212529;
  color: white;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 5px;
  background-color: #343a40;
  color: white;
  transition: 0.3s;
}

.navbar .form-control:focus {
  background-color: #495057;
  color: white;
  border-color: transparent;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.25);
}
