.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

.bd-placeholder-img:hover {
  opacity: 1;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.showPasswordToggle {
  cursor: pointer;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  opacity: 0.8;
}

.showPasswordToggle:hover {
  transform: scale(1.2);
  opacity: 1;
}
